body {
	max-width: 1000px;
	min-width: 1000px;
	height: 1100px;
	font-family: sans-serif;
	border: 20px solid black;
	border-radius: 10px

}

header {
	background: pink;
}
h1 {
	font-size: 78px;
	font-family: sans-serif;
	margin-left: 50px;
}

.one {
	position: relative;
	left: 385px;
	text-align: center;	
}
.one p {
	margin: 0 auto;
}
.right {
	width: 154px;
	border-radius: 10px;
	border: 5px solid black;
}

.about {
	width: 70%;
	position: relative;
	top: -190px;
	left: 35px;
}
.about p {
	height: 154px;
	text-align: justify;
	border: 5px solid black;
	border-radius: 10px;
	margin: 0;
	padding: 10px;
}
	
.two{
	position: relative;
	left: 97px;
	top: -135px;
}
.center {
	width: 308px;
	border-radius: 10px;
	border: 5px solid black;
	text-align: center;
}
.lbutton {
	position: relative;
	top: -180px;
	left: 114px;
	z-index: 1;
	background: pink;
	border: 3px solid black;
	border-radius: 3px;
	font-weight: bold;
	font-size: 24;
	
}
.carousel {
	width: 590px;
	height: 308px;
	position: relative;
	left: 339px;
	top: -330px;
	text-align: center;
	/*background: transparent;*/
}
.cphotos {
	width: 308px;
	border-radius: 10px;
	border: 5px solid black;
}
.rbutton {
	position: relative;
	top: -516px;
	left: 800px;
	background: pink;
	border: 3px solid black;
	border-radius: 3px;
	font-weight: bold;
	font-size: 24;
}

.three {
	position: relative;
	right: 385px;
	top: -390px;
	text-align: center;
}
.three p {
	margin: 0 auto;
}
.three h1 {
	position: relative;
	top: -170px;
	left: 385px;
	background: pink;
	z-index: -1;
	margin-left: 50px;
}
.left {
	width: 154px;
	border-radius: 10px;
	border: 5px solid black;	
}
.contact {
	position: relative;
	top: -280px;
	left: 776px;
	font-size: 12px;
	padding: 0 5px 0 5px;
}



