@import "tailwindcss";


.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@theme {
  --animate-emma-spin: spin 8s linear infinite;

  --font-display: "Montserrat", "sans-serif";
}

.animate-emma-spin-2 {
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * 1s);
}


@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}