@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/glacial-indifference.regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Glacial Indifference';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/glacial-indifference.bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/league-spartan.bold.otf') format('opentype');
}

@theme {
  --animate-emma-spin: spin 8s linear infinite;
  --animate-emma-grow: grow 3s linear;
  --animate-emma-float: float 8s ease-in-out infinite;
  --animate-emma-float-delay-1: float 8s 1s ease-in-out infinite;
  --animate-emma-float-delay-2: float 8s 2s ease-in-out infinite;
  --animate-emma-fade-in: fade-in 0.5s ease-in;

  --font-display: "League Spartan", "sans-serif";
  --font-sans: "Glacial Indifference", "sans-serif";

  --color-pink-fire: #e91e63;
  --color-slimer: #4fe91e;
  --color-harbor-fog: #607d8b;
  --color-light-blue: #f8f9fa;
  --color-light-pink: #fdf0f5;
  --color-mid-pink: #f37aa2;
  --color-shadow: #3f3236;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate3d(0, 0px, 0);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate3d(10px, -10px, 0);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate3d(0, 0px, 0);
	}
}

