@import "tailwindcss";

/* montserrat-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

@theme {
  --animate-emma-spin: spin 8s linear infinite;
  --animate-emma-grow: grow 3s linear;
  --animate-emma-float: float 8s ease-in-out infinite;
  --animate-emma-float-delay-1: float 8s 1s ease-in-out infinite;
  --animate-emma-float-delay-2: float 8s 2s ease-in-out infinite;

  --font-display: "Montserrat", "sans-serif";

  --color-pink-fire: #e91e63;
  --color-slimer: #4fe91e;
  --color-harbor-fog: #607d8b;
  --color-light-blue: #f8f9fa;
  --color-light-pink: #fdf0f5;
  --color-mid-pink: #f37aa2;
  --color-shadow: #3f3236;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate3d(0, 0px, 0);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate3d(10px, -10px, 0);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate3d(0, 0px, 0);
	}
}
